@model IEnumerable<Modelo.DepartamentoModel>

@{
    ViewBag.Title = "Departamentos";
}

<h2>Departamentos</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Departamento")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Departamento", new { id = item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Departamento", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Departamento", new { id = item.Id }, null) |
            @Html.ActionLink("Ciudades", "Ciudades", "Departamento", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
